:root {
    --tblr-primary-rgb: 86, 40, 238;
    --tblr-primary: #5628EE;
    --tblr-primary: #5628EE;
    --tblr-link-color: #5628EE;
    --tblr-link-color-rgb: 86, 40, 238;
    --tblr-link-decoration: none;
    --tblr-link-hover-color: #5628EE;
    --tblr-link-hover-color-rgb: 86, 40, 238;
    --tblr-link-hover-decoration: underline;
}

html,
body {
    width: 100%;
    height: 100%;
    padding: 0 !important;
    overflow-x: hidden !important;
    margin: 0;
}

.backSvg {
    background-image: url(./assets/back.svg);
    background-attachment: fixed;
    background-position: center;
}

